@import "paleta-colores.css";

#container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    min-height: calc(100vh - 250px);
}

.section-title {
    width: 100%;
    color: var(--neutral-white);
    margin-bottom: 25px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.section-title img {
    width: 35px;
    vertical-align: middle;
    margin-right: 10px;
    filter: invert(1);
    margin-top: -10px;
}

.subscriptions-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.sub-card {
    width: 350px;
    height: 380px;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.sub-card:hover {
    transform: translateY(-10px);
}

.sub-card h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.sub-features {
    list-style: none;
    text-align: left;
    padding-left: 20px;
}

.sub-features li {
    margin-bottom: 15px;
    position: relative;
    font-weight: 500;
}

.sub-features li::before {
    content: '•';
    position: absolute;
    left: -15px;
}


/* CARD NINGUNA */
.card-none {
    background: var(--neutral-white);
    color: var(--gray-5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-none h3 {
    color: var(--gray-2);
}

.card-none .price-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--gray-2);
    margin-top: auto;
}


/* CARD CURRANTE (Azul Neón) */
.card-currante {
    background: var(--blue-3);
    color: var(--neutral-white);
    border: 3px solid var(--blue-2);
    box-shadow: 0 0 20px rgba(0, 86, 179, 0.6), inset 0 0 10px rgba(0, 86, 179, 0.4);
}

.card-currante h3 {
    color: var(--blue-2);
}

.card-currante .price-val {
    font-size: 3rem;
    font-weight: bold;
    color: var(--blue-1);
}

.card-currante .sub-type {
    color: var(--blue-2);
    font-size: 0.9rem;
    font-weight: bold;
}

/* CARD JEFE */
.card-jefe {
    background: var(--blue-3);
    color: var(--neutral-white);
    border: 3px solid var(--blue-2);
    box-shadow: 0 0 20px rgba(0, 191, 255, 0.6), inset 0 0 10px rgba(0, 191, 255, 0.4);
}

.card-jefe h3 {
    color: var(--blue-1);
}

.card-jefe .price-val {
    font-size: 3rem;
    font-weight: bold;
    color: var(--blue-4);
}

.card-jefe .sub-type {
    color: var(--blue-1);
    font-size: 0.9rem;
    font-weight: bold;
}

/* Alinear Precios */
.price-text {
    text-align: center;
}

.price-val {
    text-align: center;
}

.sub-type {
    text-align: center;
}


/* ESPACIO ANUNCIO */
.ad-placeholder {
    height: 150px;
    width: 100%;
    margin-top: 60px;
}

/* RESPONSIVE */
@media (max-width: 800px) {
    .subscriptions-grid {
        flex-direction: column;
        align-items: center;
    }
}